/* Color Theme Swatches in Hex */
$Outstaffing-Platform-1-hex: #3350a6;
$Outstaffing-Platform-2-hex: #0554f2;
$Outstaffing-Platform-3-hex: #1374f2;
$Outstaffing-Platform-4-hex: #f2f2f2;
$Outstaffing-Platform-5-hex: #0dd965;

@mixin tasks-container {
  // height: 33%;
  flex: 33%;
  width: 80vw;
  margin: 2% 0;
}
@mixin tasks-title {
  text-align: center;
  font-size: 200%;
  width: 100%;
  border-radius: 20px;
  margin: 2% 0 2%;
}
@mixin tasks {
  margin: 2% 0 2%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//STRUCTURE

header {
  background-color: $Outstaffing-Platform-1-hex;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 5%;

  .brand {
    font-size: 140%;
  }
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .task {
      height: 100%;
      border-radius: 20px;
      background-color: $Outstaffing-Platform-2-hex;

      div {
        margin-left: 5%;
      }
    }

  .to-do-container {
    @include tasks-container();

    // display: flex;
    // flex-direction: column;

    .to-do-title {
      @include tasks-title();
      background-color: $Outstaffing-Platform-2-hex;
    }

  }
  .doing-container {
    @include tasks-container();
    .doing-title {
      @include tasks-title();
      background-color: $Outstaffing-Platform-3-hex;
    }
  }
  .done-container {
    @include tasks-container();
    .done-title {
      @include tasks-title();
      background-color: $Outstaffing-Platform-5-hex;
    }
  }
}


footer {
  background-color: $Outstaffing-Platform-1-hex;
  width: 100vw;
  height: 15vh;
}

.footer-top {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
  h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
}

.footer-about {

}

.footer-bottom {

}